<h1>Pages#home</h1>
<h3>******** Welcome to the longest word-game!********</h3>
<form action="/game">
  <label for="question">What grid size do you want ? </label>
  <input type="text" id="size" name="grid_size" placeholder="9">
  <input type="submit" value="Let's play">
</form>
